.navbar-expand-lg {
  background-color: #2967dc;
}

.headerBg {
  opacity: 50%;
}

.tombol {
  background-color: #5f89d7;
  color: white;
  height: 50px;
  border: none;
  border-radius: 47px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.tombol:hover {
  background-color: #2967dc;
}

.sosmed {
  background-color: #5f89d7;
  img {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.kaki {
  background-color: #2967dc;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0efeb;
}

header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  color: #333;
}

header p {
  margin: 10px 0 0;
  font-size: 1.2em;
  color: #666;
}

.jasa-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #5f89d7;
  border-radius: 70px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #000000;
}

.form-container {
  background-color: #f0efeb;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.service {
  background-color: #5f89d7;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.service:hover {
  transform: translateY(-5px);
}

.service img {
  max-width: 100%;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.service h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.service p {
  font-size: 1em;
  color: #000000;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.portfolio-item {
  width: 400px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.portfolio-item:hover {
  transform: translateY(-5px);
}

.portfolio-item img {
  width: 100%;
}

h4 {
  text-align: center;
  margin-bottom: 20px;
}

.tentang-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.bgTentang {
  opacity: 50%;
}
